<div
    class="card bg-gray-100 dark:bg-power__black rounded-full border border-platinum dark:border-metalBlack h-fit w-fit px-2 py-4 flex flex-col items-center gap-1">
    <a href="home/introduce"
        class="group w-16 h-16 rounded-full hover:bg-white dark:hover:bg-metalBlack cursor-pointer flex justify-center items-center transition-color duration-300 relative mb-8 border border-platinum  dark:border-metalBlack">
        <img src="assets/img/site-logo.svg" alt="">
    </a>
    @for (item of menu; track $index) {
    <a (click)="navigate(item.route)"
        [class]="activo()===item.route || url.includes(item.route) ?'bg-white text-theme dark:bg-greyBlack':'text-black dark:text-white'"
        class="group w-10 h-10 rounded-full hover:bg-white dark:hover:bg-greyBlack cursor-pointer flex justify-center items-center transition-color duration-300 relative text-black">
        @if(item.label==='blog'){
        <div [innerHTML]="item.icon" class="w-4 h-4 flex group-hover:text-theme"></div>
        }@else{
        <i class=" text-xl" [class]="item.icon"></i>}
        <span
            class="group-hover:flex text-theme hidden absolute rounded-lg shadow-sm bg-white dark:bg-greyBlack  dark:text-white px-3 py-2 right-[120%]">{{item.label}}</span>
    </a>
    }
    <div
        class="group w-10 h-10 rounded-full hover:bg-white dark:hover:bg-metalBlack cursor-pointer flex justify-center items-center transition-color duration-300 relative mt-8 border border-platinum  dark:border-metalBlack">
        <i class="group-hover:text-theme bi bi-share"></i>
        <span
            class="group-hover:flex hover:flex transition-all duration-300 hidden absolute rounded-full bg-white p-3 dark:bg-metalBlack dark:text-white right-[105%] shadow-sm">
            <ul class="flex gap-3">
                <li class="hover:text-theme text-colorSilver transition-all duration-300 "><i
                        class="bi bi-facebook"></i></li>
                <li class="hover:text-theme text-colorSilver transition-all duration-300 "><i class="bi bi-twitter"></i>
                </li>
                <li class="hover:text-theme text-colorSilver transition-all duration-300 "><i
                        class="bi bi-linkedin"></i></li>
                <li class="hover:text-theme text-colorSilver transition-all duration-300 "><i
                        class="bi bi-instagram"></i></li>
            </ul>
        </span>
    </div>
</div>