<app-card title="CONTACT">
    <div class="card-body">
        <div class="my-10 section-title">
            <h2
                class="title text-[32px] md:text-4xl lg:text-5xl font-extralight text-black dark:text-white leading-1.27">
                Contact <span class="font-semibold text-theme">Me</span>
            </h2>
            <p class="max-w-2xl mt-4 md:mt-6 subtitle">
                I design products that are more than pretty. I make them shippable and usable, ttempor
                non mollit dolor et do aute
            </p>
        </div>

        <div>
            <h1 class="my-4 font-bold text-black dark:text-white">Thanks for Contacting Me</h1>
            <p>I appreciate that you took the time to send the message. Your Message has been sent to
                the Admin Panel.</p>
            <br>
            <p>Iam getting back to you soon.</p>
            <br>
            <a href="home/introduce"
                class="text-center text-sm border border-theme inline-flex items-center justify-center gap-2 text-black dark:text-white rounded-3xl py-3.5 px-8 transition duration-300 hover:bg-theme hover:text-white">Back
                to Home</a>
        </div>
    </div>
</app-card>