<div class="mt-5 mb-8 md:my-10 section-title">
    <h2 class="title text-[32px] md:text-4xl lg:text-5xl font-extralight text-black dark:text-white leading-1.27">
        What <span class="font-semibold text-theme">People Say</span>
    </h2>
    <p class="max-w-xl mt-4 md:mt-6 subtitle text-colorSilver">
        I design products that are more than pretty. I make them shippable and usable, tempor
        non mollit dolor et do aute
    </p>
</div><!--./section-title-->



<div class="mt-12 testimonial-slider">
    <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events">
        <div class="flex items-start gap-20 overflow-x-hidden">
            @for (item of testimonials; track $index) {
            <div class="flex-none w-5/12 flex flex-col justify-center items-center text-center gap-6">
                <div class="image flex-center w-fit">
                    <img [src]="item.img" class="w-fit" alt="">
                </div>
                <div class="flex gap-1">
                    @for (rating of item.rating; track $index) {
                    <i class="text-amber-500 bi bi-star-fill"></i>
                    }
                </div>
                <div [innerHTML]="item.text" class="text-colorSilver"></div>
                <div class="mt-5 text-center author">
                    <h6 class="text-lg font-semibold text-black dark:text-white">{{item.name}}</h6>
                    <p class="text-sm text-colorSilver">{{item.job}}</p>
                </div>
            </div>
            }
        </div>

        <!-- Slider Controls Start -->
        <div class="testimonial-slider-navigation flex justify-center items-center gap-2.5 mt-10 lg:mt-12">
            <button
                class="transition border rounded-full button-prev w-11 h-11 group border-platinum dark:border-greyBlack flex-center hover:bg-theme hover:border-theme"
                aria-label="Previous slide" tabindex="0" aria-controls="swiper-wrapper-f3baec22391095928"
                aria-disabled="false">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="text-sm font-light text-center text-black dark:text-white counter w-7"><span
                    class="text-theme">2</span>/3</div>
            <button
                class="transition border rounded-full button-next w-11 h-11 group border-platinum dark:border-greyBlack flex-center hover:bg-theme hover:border-theme swiper-button-disabled"
                aria-label="Next slide" tabindex="-1" aria-controls="swiper-wrapper-f3baec22391095928"
                aria-disabled="true" disabled="">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
        <!-- Slider Controls End -->
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</div><!--./testimonial-slider-->