<div class="fixed w-full h-full grid grid-cols-12 gap-3 py-12 overflow-y-auto " style="padding-inline: 3%;">
    <div class="sticky lg:top-0 xl:top-0 col-span-12 lg:col-span-3 xl:col-span-3 h-fit">
        <app-profile class="w-full flex justify-center" />
    </div>
    <div class="col-span-12 lg:col-span-8 xl:col-span-8">
        <app-card [title]="'INTRODUCE'" [icon]="'bi bi-house-door'" id="introduce">
            <app-introduce class="card-body"></app-introduce>
        </app-card>
        <app-card [title]="'ABOUT ME'" [icon]="'bi bi-person'">
            <app-about-me class="card-body"></app-about-me>
        </app-card>
        <app-card [title]="'SERVICES'" [icon]="'bi bi-briefcase'">
            <app-services class="card-body"></app-services>
        </app-card>
        <app-card [title]="'RESUME'" [icon]="'bi bi-folder2-open'">
            <app-resume class="card-body"></app-resume>
        </app-card>
        <app-card [title]="'PORTFOLIO'" [icon]="'bi bi-list-task'">
            <app-portfolio class="card-body"></app-portfolio>
        </app-card>
        <app-card [title]="'BLOG'" [icon]="'bi bi-substack'">
            <app-blog class="card-body"></app-blog>
        </app-card>
        <app-card [title]="'TESTIMONIAL'" [icon]="'bi bi-chat-square-text'">
            <app-testimonial class="card-body"></app-testimonial>
        </app-card>
        <app-card [title]="'CONTACT'" [icon]="'bi bi-envelope'"  id="contact">
            <app-contact class="card-body"></app-contact>
        </app-card>
    </div>
    <div class="w-fit h-fit sticky top-0 hidden lg:flex xl:flex">
        <app-sidebar />
    </div>
</div>