<div>
    <app-card [title]="'INTRODUCE'" [icon]="home['introduce']" id="introduce">
        <app-introduce class="card-body"></app-introduce>
    </app-card>
    <app-card [title]="'ABOUT ME'" [icon]="home['about']" id="about">
        <app-about-me class="card-body"></app-about-me>
    </app-card>
    <app-card [title]="'SERVICES'" [icon]="home['service']" id="service">
        <app-services class="card-body"></app-services>
    </app-card>
    <app-card [title]="'SKILLS'" [icon]="home['skill']" id="skill">
        <app-skill class="card-body"></app-skill>
    </app-card>
    <app-card [title]="'RESUME'" [icon]="home['resume']" id="resume">
        <app-resume class="card-body"></app-resume>
    </app-card>
    <app-card [title]="'PORTFOLIO'" [icon]="home['poftfolio']" id="poftfolio">
        <app-portfolio class="card-body"></app-portfolio>
    </app-card>
    <app-card [title]="'BLOG'" [icon]="iconBlog" id="blog">
        <app-blog class="card-body"></app-blog>
    </app-card>
    <app-card [title]="'TESTIMONIAL'" [icon]="home['testimonial']" id="testimonial">
        <app-testimonial class="card-body"></app-testimonial>
    </app-card>
    <app-card [title]="'CONTACT'" [icon]="home['contact']" id="contact">
        <app-contact class="card-body"></app-contact>
    </app-card>
</div>