<div class="mb-8 mt-7 md:my-10 section-title">
    <h2 class="title text-[32px] md:text-4xl lg:text-5xl font-extralight text-black dark:text-white leading-1.27">
        My <span class="font-semibold text-theme">Advantages</span>
    </h2>
    <p class="max-w-xl mt-4 md:mt-6 subtitle">
        I design products that are more than pretty. I make them shippable and usable, ttempor
        non mollit dolor et do aute
    </p>
</div>

<div class="mt-12 skills-slider xl:mt-16 flex  overflow-x-hidden">
    @for (item of skill; track $index) {
    <div class="flex-none w-6/12 md:w-4/12 lg:w-3/12 xl:w-3/12 flex flex-col gap-3 items-center relative" [id]="item.name">
        <img [src]="item.img" [alt]="item.name" class="dark:grayscale object-contain h-16">
        <app-circular-progress-bar class="w-10/12 h-10/12" [progress]="item.value"></app-circular-progress-bar>

        <span class="absolute top-[150px] h-fit">{{item.value}}%</span>
        <span>{{item.name}}</span>
    </div>
    }
</div>
<!-- Slider Controls Start -->
<div
    class="skills-slider-navigation flex justify-center items-center gap-2.5 mt-12 md:absolute md:top-16 lg:top-20 md:right-8 lg:right-13">
    <button
        class="transition text-metaBlack dark:text-colorSilver hover:text-white dark:hover:text-white border rounded-full button-prev w-11 h-11 group border-platinum dark:border-greyBlack flex-center hover:bg-theme hover:border-theme swiper-button-disabled"
        aria-label="Previous slide" disabled="" tabindex="-1" aria-controls="swiper-wrapper-ac0e6773d857f6810"
        aria-disabled="true">
        <i class="bi bi-arrow-left"></i>
    </button>
    <div class="text-sm font-light text-center text-black dark:text-white counter w-7"><span
            class="text-theme">1</span>/7</div>
    <button
        class="transition text-metaBlack dark:text-colorSilver hover:text-white dark:hover:text-white border rounded-full button-next w-11 h-11 group border-platinum dark:border-greyBlack flex-center hover:bg-theme hover:border-theme"
        aria-label="Next slide" tabindex="0" aria-controls="swiper-wrapper-ac0e6773d857f6810" aria-disabled="false">
       <i class="bi bi-arrow-right"></i>
    </button>
</div>
<!-- Slider Controls End -->