<div class="w-full h-full flex dark:hidden">
    <svg class="flex dark:hidden" width="100%" height="100%" viewBox="0 0 250 250" class="circular-progress"
        [style.--progress]="progress()">
        <circle class="bg"></circle>
        <circle class="fg"></circle>
    </svg>
</div>
<div class="w-full h-full hidden dark:flex">
    <svg width="100%" height="100%" viewBox="0 0 250 250" class="circular-progress" [style.--progress]="progress()" >
        <circle class="bg-dark"></circle>
        <circle class="fg"></circle>
    </svg>
</div>